# Bot
BOT__TOKEN="tg bot token"

# Core
CORE__SECRET_KEY="SecretKey"

# PostrgreSQL
POSTGRES_DRIVER="asyncpg"
POSTGRES_HOST="0.0.0.0"
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="postgres"
